modules = ["nodejs-20", "web", "nix"]
[agent]
expertMode = true
integrations = ["javascript_log_in_with_replit:1.0.0"]

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "NextJS Dev Server"

[[workflows.workflow]]
name = "NextJS Dev Server"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 9002
externalPort = 3000

[[ports]]
localPort = 36205
externalPort = 4200

[[ports]]
localPort = 37463
externalPort = 5000

[[ports]]
localPort = 39503
externalPort = 3001

[[ports]]
localPort = 45821
externalPort = 3003

[deployment]
deploymentTarget = "autoscale"
run = ["npm", "start"]
build = ["npm", "run", "build"]
